USE [jmineops_tbg_mod]
GO
/****** Object:  StoredProcedure [dbo].[client_insert_num_truck]    Script Date: 25-Oct-18 14:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[client_insert_num_truck] AS

BEGIN
	
	INSERT INTO dbo.client_actual_num_trucks( time_collected, digger, num_truck, hourly, yyyymmdd, mins, hang_time, queue_time, load_count, prod_tons)
	 
	SELECT
		getdate() as time_collected,
		shv.name as digger,
		count(trk.name) as num_truck,
        'hourly' = CASE		 
			WHEN datepart("minute", getdate())<30 AND datepart("HH", getdate())=0 THEN datepart("HH", getdate())
			WHEN datepart("minute", getdate())>=30 THEN datepart("HH", getdate())
			WHEN datepart("minute", getdate())<30 THEN datepart("HH", getdate()) - 1
		END,
		convert(date, getdate()) as yyyymmdd,
		datepart(minute, getdate()) as mins,
		skp.hang_time as hang_time,
		skp.queue_time as queue_time,
		skp.load_count as load_count,
		skp.total_material_tonnage as prod_tons
	FROM jmineops_tbg.dbo.assignments asn
	JOIN jmineops_tbg.dbo.equipment trk on trk.id = asn.equipment_id
	JOIN jmineops_tbg.dbo.equipment shv on shv.id = asn.assigned_shovel_id
	JOIN jmineops_tbg.dbo.enum_tables sts on sts.id = shv.status_id
	JOIN jmineops_tbg.dbo.enum_tables tts on tts.id = trk.status_id
	JOIN jmineops_tbg.dbo.shovel_kpis skp on skp.shovel_id = asn.assigned_shovel_id
	WHERE (sts.name = 'Ready' OR sts.name = 'Delay')
    AND (tts.name = 'Ready' OR tts.name = 'Delay')
    AND convert(date, skp.updated_at) = convert(date, getutcdate())
	GROUP BY 
    shv.name, skp.hang_time, skp.queue_time, skp.load_count, skp.total_material_tonnage

END

BEGIN

	TRUNCATE TABLE validation

	INSERT INTO dbo.validation(equip,stat,mat,shovel_lock,tiedown,transport,region,location,dump)

	SELECT
		eqp.name,
		CASE 
					WHEN reas.descrip LIKE ( '%RHL%') THEN 'READY'
					WHEN reas.descrip LIKE ( '%RLD%') THEN 'READY'
					WHEN reas.descrip LIKE ( '%RWD%') THEN 'STANDBY'
					WHEN reas.descrip LIKE ( '%DTQ%') THEN 'STANDBY'
					WHEN reas.descrip LIKE ( '%DEH%') THEN 'READY'
					WHEN reas.descrip LIKE ( '%DRE%') THEN 'READY'
					WHEN reas.descrip LIKE ( '%DCA%') THEN 'READY'
					WHEN reas.descrip LIKE ( '%DWD%') THEN 'READY'
					WHEN reas.descrip LIKE ( '%DSC%') THEN 'READY'
					WHEN reas.descrip LIKE ( '%RRP%') THEN 'READY'
					WHEN reas.descrip LIKE ( '%RDD%') THEN 'READY' 
					WHEN reas.descrip LIKE ( '%RRM%') THEN 'STANDBY'
					WHEN reas.descrip LIKE ( '%RWM%') THEN 'STANDBY'
					WHEN reas.descrip LIKE ( '%RDP%') THEN 'READY'   
					WHEN reas.descrip LIKE ( '%autodelay%') THEN 'READY'
					WHEN reas.descrip LIKE '%BBR%' THEN 'DOWN' 
					WHEN reas.descrip LIKE '%BPM%' THEN 'SERVICE'
					WHEN reas.descrip LIKE '%SRE%' THEN 'READY'
					WHEN reas.descrip LIKE '%SOP%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SNJ%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SFM%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SMS%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SNO%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SMB%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SWR%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SCR%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SSC%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SSM%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SAE%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SND%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SRL%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%Standby%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SWD%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SDP%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SCO%' THEN 'STANDBY'
					WHEN reas.descrip LIKE '%SWT%' THEN 'STANDBY'
					ELSE reas.descrip END,
		CASE 
					WHEN (select top 1 s.dumps from bestpath s where s.digger=eqp.name order by updateds desc) LIKE '%ROM%' AND eqp.name LIKE '%EX0%' THEN 'COAL'
					WHEN (select top 1 s.dumps from bestpath s where s.digger=eqp.name order by updateds desc) LIKE '%COAL%' AND eqp.name LIKE '%EX0%' THEN 'COAL'
					WHEN (select top 1 s.dumps from bestpath s where s.digger=eqp.name order by updateds desc) NOT LIKE '%COAL%' OR (select top 1 s.dumps from bestpath s where s.digger=eqp.name order by updateds desc) NOT LIKE '%ROM%' AND eqp.name LIKE '%EX0%' THEN 'OB'
					ELSE NULL
					END, 
		(select TOP 1 e.name from jmineops_tbg.dbo.assignments l join jmineops_tbg.dbo.equipment e on e.id = l.assigned_shovel_id where eqp.id = l.equipment_id),
		(select TOP 1 e.name from jmineops_tbg.dbo.assignments l join jmineops_tbg.dbo.locations e on e.id = l.tiedown_id where eqp.id = l.equipment_id),
		(SELECT CASE
			WHEN CONVERT(numeric(10,2),(CAST([fuel_tank] AS FLOAT) - CAST([fuel_used] AS FLOAT))/CAST([fuel_tank] AS FLOAT)) < 0 THEN 0
			WHEN CONVERT(numeric(10,2),(CAST([fuel_tank] AS FLOAT) - CAST([fuel_used] AS FLOAT))/CAST([fuel_tank] AS FLOAT)) IS NULL THEN 0
			ELSE CONVERT(numeric(10,2),(CAST([fuel_tank] AS FLOAT) - CAST([fuel_used] AS FLOAT))/CAST([fuel_tank] AS FLOAT))  END
		FROM [jmineops_tbg].[dbo].[maintenance] m
		JOIN jmineops_tbg.dbo.equipment eqpt on eqpt.id = m.equipment_id
		 WHERE eqpt.name LIKE '%DT%' AND eqpt.name = eqp.name),
		--NULL,
		--(SELECT TOP 1 lct.name FROM jmineops_tbg.dbo.assignments tasg JOIN jmineops_tbg.dbo.equipment eqpt on eqpt.id = tasg.equipment_id JOIN jmineops_tbg.dbo.locations lct on lct.id = tasg.location_id WHERE eqpt.name = eqp.name),
		(SELECT DISTINCT TOP 1 l.name FROM [jmineops_tbg].[dbo].[hauling] h 
		JOIN jmineops_tbg.dbo.equipment eq on eq.id=h.shovel_id
		JOIN jmineops_tbg.dbo.locations l on l.id=h.blast_id
		WHERE eqp.id = h.shovel_id),
		(select TOP 1 lc.name from jmineops_tbg.dbo.assignments asg join jmineops_tbg.dbo.locations lc on lc.id = asg.region_lock_id where eqp.id = asg.equipment_id),
		(select top 1 s.dumps from bestpath s where s.digger=eqp.name order by updateds desc)
		FROM jmineops_tbg.dbo.equipment eqp 
		JOIN jmineops_tbg.dbo.reasons reas on reas.id = eqp.reason_id
		LEFT JOIN [jmineops_tbg].[BI].[dsvreasons_requipment_dim] typ on typ.EquipmentName = eqp.name
		WHERE eqp.deleted_at is null AND eqp.name not like '%TEST%'
END
